
.logo-box {
  display: 'flex';
  align-items: 'center';
  justify-content: 'space-between';
  padding: '10px';
  background-color: 'White';
}

.logo-text {
  color: black;
  margin-left: '8px';
  margin-top: '8px';
}

.navbar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: white;
}

.navbar-first-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: 20px;
  color: grey;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: 20px;
  color: grey;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar-first-item:hover {  
  background-color: #444;
}

.navbar-item:hover{
  background-color: #444;
}

.navbar-box{
  display: flex;
  align-items: "center";
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.navbar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  
}

.text{
  display: flex;
  align-items: center;
}

/* hover css */
.navbar-item:hover .text,
.navbar-item:hover .navbar-icon svg {
  color: white;
  fill: white;
}

.navbar-first-item:hover .text,
.navbar-first-item:hover .navbar-icon svg {
  color: white;
  fill: white
}

@media (min-width: 1024px) {
  .navbar-list {
      position: fixed;
      top: 0;
      left: 0;
      width: 240px;  
      height: 100vh;
      overflow-y: auto;
      z-index: 1000; 
      background-color: #fff; 
      border-right: 1px solid #ddd; 
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar-list {
      width: 200px;  
  }
}

@media (max-width: 767px) {
  .logo-text {
      display: none; 
  }
}

@media (max-width: 767px) {
  .navbar-list {
      width: 80px;  
  }
  
  .text {
      display: none; 
  }
}