.site-struct {
    display: flex;
    flex-direction: column;
    background-color: #f5f6ff;
}

.main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px - 60px); 
    padding: 30px; 
    background-color: #f5f6ff;
}

@media (min-width: 1300px) {
    .main-container {
        margin-left: 240px;
    }
}
