
.container-block {
    margin-top: 20px;
    flex: 1;
    height: 50%;
    background-color: white;
    border-radius: 10px; 
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.analysis-title{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.option-block{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

@media (min-width: 1024px) {
    .container-block  {
        width: 800px;
    }
    .company-container-block{
        width: 800px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container-block {
        width: 600px;  
    }
    .company-container-block{
        width: 600px;
    }
}

@media (max-width: 768px) {
    .container-block {
        width: 350px;  
    }
    .company-container-block{
        width: 350px;
    }
}