.main-container {
    justify-content: center;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f6ff;
}

.dashboard-container-block {
    flex: 1;
    background-color: white;
    border-radius: 10px; 
    justify-content: center;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 42vh; /* This sets the maximum height to 45% of the viewport height. Adjust as needed. */
    overflow-y: auto; /* This ensures that if the content inside exceeds this height, it becomes scrollable. */
    margin-bottom: 3em !important;
    
}

.news-bloclk{
    margin-top: 5%;
}